<form (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit" [disabled]="submitting">Login</button>
    <div>
      <p>¿Ya tienes cuenta?
          <a [routerLink]="['/register']" class="font-medium hover:underline text-teal-400 text-primary-600 dark:text-primary-500">
              Registrate
          </a>
      </p>
    </div>
  </form>
  