<body>
  <div class="login-container">
    <div class="login-box">
      <h2 class="form-title">Registrarse</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label>
            <span class="icon">👤</span>
            <input 
              type="text" 
              id="name" 
              [(ngModel)]="name" 
              name="name" 
              required 
              placeholder="Ingresa tu nombre" 
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="icon">📧</span>
            <input 
              type="email" 
              id="email" 
              [(ngModel)]="email" 
              name="email" 
              required 
              placeholder="Ingresa tu correo electrónico" 
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="icon">🔒</span>
            <input 
              type="password" 
              id="password" 
              [(ngModel)]="password" 
              name="password" 
              required 
              placeholder="Ingresa tu contraseña" 
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="icon">🔒</span>
            <input 
              type="password" 
              id="confirm_password" 
              [(ngModel)]="confirm_password" 
              name="confirm_password" 
              required 
              placeholder="Confirma tu contraseña" 
            />
          </label>
        </div>
        <button type="submit" [disabled]="submitting" class="login-btn">Registrarse</button>
        <p>¿Ya tienes cuenta? 
          <a [routerLink]="['/login']" class="forgot">Logueate</a>
        </p>
      </form>
    </div>
  </div>
</body>
